
body {
  background-color: #415534;
  color:  #CFE5C2;
  margin-top: 300px;
  margin-bottom: 300px;
  margin-right: 450px;
  margin-left: 350px;

  font-family: itc-american-typewriter, serif;
  font-weight: 900;
  font-style: normal;
}


a:link {
  color: #ADD5D6;
}

a:visited {
  color: #ADD5D6;
}

a:hover {
  color: #D5ADC2;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
