* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
  background-color: black;
  font-family: magistral, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}

  a:link {
    color: #5381A3;
  }

  a:visited {
    color: #264E76;
  }

  a:hover {
    color: #FAF687;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;


}
main {
  width: 130vw;
  margin: -50px -15vw;
}
.shape1 {
  float: left;
  width: 500px;
  height: 500px;
  background-color: #52C4D3;
  border-radius: 50%;
  margin: -200px -300px;
  opacity: 0.8;

}

.shape2 {
  float: left;
  width: 300px;
  height: 300px;
  background-color: #37D875;
  border-radius: 50%;
  margin: -200px -200px;
  opacity: 0.8;

}

.shape3 {
  float: left;
  width: 250px;
  height: 250px;
  background-color: #D666C9;
  border-radius: 50%;
  margin: 50px 100px;
  opacity: 0.8;

}

.shape4 {
  float: left;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid red;
  margin: -26px -26px;
  opacity: 0.8;

}

.shape5 {
  float: left;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid purple;
  margin: -25px -25px;
  opacity: 0.8;
}

.shape6 {
  float: left;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid blue;
  margin: -24px -24px;
  opacity: 0.8;
}

.shape7 {
  float: left;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #3A1365;
  margin: -23px -23px;
  opacity: 0.8;
}

.shape8 {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 #ADEFFF;
  margin: -15px -15px;


}

.shape9 {
  float: left;
  width: 300px;
  height: 300px;
  background: #F5E1ED;
  border-radius: 50%;
  margin: -50px -50px;
  opacity: 0.8;

}

.shape10 {
  float: left;
  width: 200px;
  height: 200px;
  background: #FAF6C2;
  border-radius: 50%;
  margin: -25px -25px;
  opacity: 0.8;

}

.shape11 {
  float: left;
  width: 50px;
  height: 50px;
  background: #EFE788;
  border-radius: 50%;
  margin: -50px -50px;
  opacity: 0.8;

}

.shape12 {
  float: left;
  width: 40px;
  height: 40px;
  background: #EFE357;
  border-radius: 50%;
  margin: -25px -25px;
  opacity: 0.8;
}

.shape13 {
  float: left;
  width: 20px;
  height: 20px;
  background: #F2CBE2;
  border-radius: 50%;
  margin: 70px 70px;
  opacity: 0.8;
}
.shape14 {
  float: left;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  margin: 25px 25px;


}

.shape15 {
  float: left;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  margin: -10px -10px;

}

.shape16 {
  float: left;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  margin: -25px -25px;


}
.shape17 {
  float: left;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  margin: -15px -15px;


}

.shape18 {
  float: left;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  margin: -20px -20px;

}
.shape19 {
  float: left;
  width: 100px;
  height: 100px;
  background: yellow;
  margin: -20px -20px;
  opacity: 0.8;
}
.shape20 {
  float: left;
  width: 200px;
  height: 100px;
  background: red;
  border-radius: 100px / 50px;
  margin: -19px -19px;
  opacity: 0.8;


}
.shape21 {
  float: left;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid blue;
  margin: -18px -18px;
  opacity: 0.8;


}
