* {
  box-sizing: border-box;

}
body {
  overflow: hidden;
  height; 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #754685;
}
#container {
  width: 400px;
  height: 400px;
  padding: 0;
  box-sizing: border-box;
  background: #754685;
}
#ghost {
  margin: 10% auto;
  width: 80%;
  height: 80%;
  animation: floaty 2s infinite;
}
#ghost #ghostbody {
  position: relative;
  margin: 50px auto 0;
  width: 300px;
  height: 150px;
  background: white;
  border-radius: 50%;
  transform: rotate(90deg);
}

.ghost {
  width: 300px;
  height: 150px;
  border-radius: 50%;
  float: left;
}
.ghostbody {
  width: 300px;
  height: 150px;
  background: white;
  border-radius: 50%;
  float: left;
  position: absolute;
  transform: rotate(75deg);
}
.ghostleg1 {
  width: 90px;
  height: 45px;
  background: mediumpurple;
  border-radius: 50%;
  float: left;
  transform: rotate(75deg);
  position: absolute;
}
.ghostleg2 {
  width: 90px;
  height: 45px;
  background: mediumpurple;
  border-radius: 50%;
  float: left;
  transform: rotate(75deg);
  position: absolute;

}
.ghostleg3 {
  width: 90px;
  height: 45px;
  background: mediumpurple;
  border-radius: 50%;
  float: left;
  transform: rotate(75deg);
  position: absolute;
}
.ghostbese {
  width: 90px;
  height: 45px;
  background: mediumpurple;
  border-radius: 50%;
  float: left;
  transform: rotate(90deg);
  position: absolute;

}
.ghosteye {

}
.ghosteye2 {

}
