* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: jaf-domus-titling-web, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  background-color: #496651;
  margin: 0;
}
.home {
  background: url(../images/home-image.png) no-repeat center center fixed;
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
}
h1 {
  font-family: jaf-domus-titling-web, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  font-size: 150px;
  text-align: center;
  margin-top: 25px;
}
header {
  display: flow-root;
  padding: 5px 50px;
}
nav {
  height: 125px;
  width: auto;
  background-color: #496651;
  margin-top: 10px;
  text-align: center;
}
.owl {
  float: left;
  margin-left: 100px;
  margin-top: 8px;
}
.bigowl {
  margin-left: 700px;
  margin-top: 300px;
}
ul {
  float: left;
  width: ;
  margin-left: 150px;
  margin-top: 40px;
  list-style-type: none;
  padding: 0;
}
li {
  float: left;
  margin-left: 200px;
  font-family: jaf-domus-titling-web, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  font-size: 30px;
}
.tournav ul {
  margin-left: 10px;
  font-size: 30px;
}
a:visited {
  color: white;
}
a:hover {
  color: #9D9D9D;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
h2 {
  font-family: jaf-domus-titling-web, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-size: 150px;
  text-align: center;
}
h3 {
  font-family: jaf-domus-titling-web, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-size: 90px;
  text-align: center;
}
.container {
  background: url(../images/tourpage.png) no-repeat center center;
  background-size: cover;
  padding: 400px 100px;
}
.tournav {
  margin-left: 400px;
  font-size: 30px;
}
.logo {
  background: url(../images/owl2.png) no-repeat center center;
  background-size: cover;
  padding: 150px 50px;
}
.date {
  font-family: jaf-domus-titling-web, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-size: 30px;
}
.location {
  font-family: jaf-domus-titling-web, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  font-size: 20px;
}
.columns {
  display: flow-root;
  margin-right: auto;
  margin-left: 350px;
}
.col {
  width: 50%;
  float: left;
}
@media screen and (max-width: 504px) {
  .col {
    width: 50%;
    margin-bottom: 50px;
}
