* {
  box-sizing: border-box;
}
body {
  font-family: jaf-domus-titling-web, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  margin: 0;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #84592C;
  float: left;
}
.menubar {
  height: 100px;
  width: auto;
  background-color: #496651;

}
a:link {
  color: #FFFFFF;
}

a:visited {
  color: #BCBCBC;
}

a:hover {
  color: #84592C;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
.col {
  width: 50%;
  float: left;
}
@media screen and (max-width: 504px) {
  .col {
    width: 50%;
    margin-bottom: 50px;
  }
  
